<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Keep the screen from dimming or the processor from sleeping. -->
    <!-- You should always use wake locks sparingly and hold them only for as long
    as truly necessary, because they significantly reduce the battery life of the device.-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required only if your app needs to access images or photos that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Required only if your app needs to access videos that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Required only if your app needs to access audio files that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- If your app targets Android 10 (API level 29) or higher and needs to retrieve
    unredacted EXIF metadata from photos, you need to declare the ACCESS_MEDIA_LOCATION
    permission in your app's manifest, then request this permission at runtime. -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Request the FOREGROUND_SERVICE permission to run a foreground service. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- ========== Camera Start ========== -->
    <!-- Camera hardware support-->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- ========== Camera End ========== -->

    <!-- ========== Wallpaper Start ========== -->
    <!-- Wallpaper software support-->
    <uses-feature android:name="android.software.live_wallpaper" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!-- ========== Wallpaper Start ========== -->

</manifest>